/*
primary color background = #1d1d1d

#fd2155 - pink 
#08fdd8 - blue
#262626 - grey
*/
/*
#1A1A2E - dark grey
#16213E - dark blue
#0F3460 - dark blue
#E94560 - pink
*/
$white: #fff;
$primaryDark : #1d1d1d;
$primaryLight : #262626;
$pink : #fd2155;
$blue :  #08fdd8;
$green :#5dea62;
